:root{
   --btn-color :hsl(158, 36%, 37%);
   --primary-color :hsl(30, 38%, 92%);
   --heavy-font-color:hsl(212, 21%, 14%);
   --light-font-color:hsl(228, 12%, 48%);

}

html{
    font-size: 62.5%;
}

body{
    height: 97vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(0,0%,100%);   
    margin-bottom: 2rem;
    height: 35rem;
    width:50rem;
    border-radius: 13px;
    display: flex;
}

.image{
    height: 35rem;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}