:root{
   --btn-color :hsl(158, 36%, 37%);
   --primary-color :hsl(30, 38%, 92%);
   --heavy-font-color:hsl(212, 21%, 14%);
   --light-font-color:hsl(228, 12%, 48%);

}

html{
    font-size: 62.5%;
}

body{
    height: 97vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(0,0%,100%);   
    margin-bottom: 2rem;
    height: 39rem;
    width:55rem;
    border-radius: 13px;
    display: flex;
}

.image{
    height: 39rem;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    color: var(--heavy-font-color);
    padding-left: 2rem;
    padding-right: 5rem;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1rem;
}

.description{
    font-size:2rem ;
    margin: 0;
    color: var(--light-font-color);
    padding-left: 2rem;

}

/* TODO : Button */

.btn{
    background-color: var(--btn-color);
    color: hsl(0,0%,100%);
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
}